<!DOCTYPE html>
<html>
<head>
  <title>A tititle</title>
  <!-- note: "/" will be your "public" folder in sinatra -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <h1>welcome to bitcoins.com</h1>

  <%= yield %>

</body>
</html>