body {
  background-color: lavender;
}

#places > div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 300px;
  font-family: Arial, Helvetica;
  color: white;
  font-size: 24pt;
  text-align: center;
}